@media (prefers-color-scheme: light) {
  .text-container a {
    color: #1e7cff;
  }
}

@media (prefers-color-scheme: dark) {
  .text-container a {
    color: #ed701d;
  }
}

h1,
h2 {
  font-family: "bold";
}

h3,
h4 {
  font-family: "regular";
}

p,
li {
  font-family: "light";
}

ul {
  display: grid;
  row-gap: 1rem;
}
