@media (prefers-color-scheme: light) {
  kbd {
    font-family: monospace;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    border: solid 0.075em #d9d9d9;
    border-radius: 0.2em;
    background-color: #f5f5f5;
    box-shadow: inset 0 0.1em 0.15em #ebebeb;
  }
  .glassbox {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .selected-glassbox {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .button-glassbox,
  .toast-glassbox {
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
  }

  .button-glassbox:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .toast-glassbox {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }
}

@media (prefers-color-scheme: dark) {
  kbd {
    font-family: monospace;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    border: solid 0.075em #d9d9d9;
    border-radius: 0.2em;
    background-color: black;
    box-shadow: inset 0 0.1em 0.15em #ebebeb;
  }
  .glassbox {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }
  .selected-glassbox {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .button-glassbox,
  .toast-glassbox {
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
  }

  .button-glassbox:hover {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .toast-glassbox {
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }
}
