a {
  transition: color 0.2s ease-in-out;
}

a > svg {
  transition: color 0.2s ease-in-out;
}

svg {
  transition: color 0.2s ease-in-out;
}

summary {
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #1e7cff;
  transition: color 0.2s ease-in-out;
}

button {
  text-decoration-line: none;
  transition: text-decoration-line 0.2s ease-in-out;
}

button:hover {
  transition: text-decoration-line 0.2s ease-in-out;
}

button {
  transition: border-color 0.2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast {
  animation:
    fade-in 0.5s,
    fadeOut 0.5s 2.5s; /* Adjust timing as needed */
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

.slide-out-right {
  animation: slideOutRight 0.5s forwards;
}

details summary {
  cursor: pointer;
  user-select: none;
}
details[open] > summary {
  color: #1e7cff;
  text-decoration: none;
}
details > summary:hover {
  text-decoration: underline;
}

#toasts-container > div {
  max-width: 100%;
  width: max-content;
}
