---
interface Props {
  localizedToast: string;
  toastID: string;
  iconURL: string;
}

const { localizedToast, toastID, iconURL } = Astro.props as Props;
---

<div
  id={toastID}
  class="select-none fixed bottom-[5%] justify-center w-auto h-auto rounded-lg p-3 flex items-center toast-glassbox toast z-20 text-nowrap"
  style="display: none;"
>
  <img
    src={iconURL}
    class="h-7 w-auto inline-block items-center align-middle svg-invert"
    alt="Copied correctly icon"
  />
  <span class="ultralight text-lg inline-block items-center align-middle">
    {localizedToast}
  </span>
</div>
