---

---

<div
  class="border-t-2 mobile-only:border-t border-solid border-black select-none
    ultrawide-only:w-[50%] ultrawide-only:ml-[25%]
    w-[75%] ml-[12.5%]
    mobile-only:w-[90%] mobile-only:ml-[5%] dark:border-white"
>
</div>
