@media (prefers-color-scheme: dark) {
  a:hover {
    text-decoration: none;
    color: #ed701d;
  }
  details[open] > summary {
    color: #ed701d;
  }
  summary:hover {
    color: #ed701d;
  }
}
@media (prefers-color-scheme: light) {
  a:hover {
    text-decoration: none;
    color: #1e7cff;
  }
  details[open] > summary {
    color: #1e7cff;
  }
  summary:hover {
    color: #1e7cff;
  }
}
