---
import { Image } from "astro:assets";
import TechAck from "@/components/layout/footer/badges/TechAck.astro";
import FFCopyrightNotice from "@/components/layout/footer/badges/FFCopyrightNotice.astro";
interface Props {
  locale: "en" | "ja" | "pt" | "es";
  currentPage: string;
}

const { locale, currentPage } = Astro.props;

function localizedHome() {
  if (locale !== "en") {
    return `/${locale}`;
  } else {
    return `/`;
  }
}
---

<div class="mobile-only:mt-[10%] w-1150:mt-[5%] mt-[2.5%]"></div>
<footer
  id="footer"
  class={`grid h-max
  bg-[#efefef] text-[#181a1b] dark:bg-[#181a1b] dark:text-[#efefef]
  shadow-[0_-2px_15px_12px_rgba(0,0,0,0.5)]
  mt-auto
  ultrawide-only:grid-cols-[1fr_75vw_0.2fr]
    grid-cols-[1fr_70vw_1fr]
    ${
      currentPage === "commissioned-works"
        ? "mobile-only:grid-cols-[1fr_98vw_1fr]"
        : "mobile-only:grid-cols-[1fr_90vw_1fr]"
    }
  noise-bg-animation`}
>
  <div id="footer-left"></div>
  <div id="footer-center">
    <div class="flex justify-evenly my-[1%] items-center">
      <a href={localizedHome()} class="flex items-center select-none">
        <p class="regular">Di-XIV</p>
        <Image
          loading="eager"
          src="/favicon.ico"
          width={36}
          height={36}
          class="w-9 h-auto"
          alt="Di-XIV Brand Icon"
        />
        <p class="regular">2024</p>
      </a>
      <TechAck locale={locale} />
    </div>
    <div class="flex justify-center">
      <FFCopyrightNotice locale={locale} />
    </div>
  </div>
  <div id="footer-right"></div>
</footer>
