---
import { Image } from "astro:assets";
import SimpleTooltip from "@/components/text/SimpleTooltip";
import A from "@/components/text/SimpleInlineAnchor";
import BadgeWrapper from "@/components/layout/footer/badges/BadgeWrapper.astro";
interface Props {
  locale: "en" | "ja" | "pt" | "es";
}
const { locale } = Astro.props;
const localizedBuiltWith = {
  en: "Built with",
  ja: "使用フレームワーク",
  es: "Construído con",
  pt: "Construido com",
};
---

<BadgeWrapper id="built-with" localizedTitle={localizedBuiltWith[locale]}>
  <p class="cursor-help regular mb-2">🏗️&nbsp;{localizedBuiltWith[locale]}</p>
  <div class="flex items-center gap-x-2">
    <SimpleTooltip client:load content="Astro">
      <A
        id="astro-badge"
        className="flex items-center"
        h="https://astro.build/"
      >
        <img
          src="/icons/content/ack/devicon--astro.svg"
          alt="Astro Icon"
          class="w-7 mobile-only:w-5 h-auto dark:invert"
        />
      </A>
    </SimpleTooltip>
    <SimpleTooltip client:load content="React">
      <A id="react-badge" className="flex items-center" h="https://react.dev/">
        <Image
          width={28}
          height={28}
          src="/icons/content/ack/catppuccin--typescript-react.svg"
          alt="React Icon"
          class="w-7 mobile-only:w-5 h-auto relative -top-[2px]"
        />
      </A>
    </SimpleTooltip>
    <SimpleTooltip client:load content="Iconify.design">
      <A
        id="iconify-badge"
        className="flex items-center"
        h="https://iconify.design/"
      >
        <img
          class="w-7 mobile-only:w-5 h-auto dark:invert relative -top-[1px]"
          src="/icons/content/ack/simple-icons--iconify.svg"
          alt="Iconify Icon"
        />
      </A>
    </SimpleTooltip>
    <SimpleTooltip client:load content="Geist by Vercel">
      <A
        id="vercel-badge"
        className="flex items-center"
        h="https://vercel.com/font"
      >
        <img
          class="w-7 mobile-only:w-5 h-auto dark:invert relative -top-[1px]"
          src="/icons/content/ack/skill-icons--vercel-light.svg"
          alt="Vercel Icon"
        />
      </A>
    </SimpleTooltip>
  </div>
</BadgeWrapper>
