---

---

<footer
  id="footer"
  class="grid h-max glassbox
  ultrawide-only:grid-cols-[1fr_55vw_1fr]
  grid-cols-[1fr_70vw_1fr]
  w-1150:grid-cols-[1fr_80vw_1fr]
  mobile-only:grid-cols-[1fr_90vw_1fr]"
>
  <div id="footer-left"></div>
  <div id="footer-center">
    <slot />
  </div>
  <div id="footer-right"></div>
</footer>
