---
import { Image } from "astro:assets";
import TechAck from "@/components/layout/footer/badges/TechAck.astro";
import GetCurrentSmallDate from "@/components/layout/aside/components/GetCurrentSmallDate";
interface Props {
  locale: "en" | "ja" | "pt" | "es";
}

const { locale } = Astro.props;
---

<footer
  id="footer"
  class="grid h-max glassbox mt-auto
  ultrawide-only:grid-cols-[1fr_55vw_1fr]
  grid-cols-[1fr_70vw_1fr]
  w-1150:grid-cols-[1fr_80vw_1fr]
  mobile-only:grid-cols-[1fr_90vw_1fr]"
>
  <div id="footer-left"></div>
  <div id="footer-center" class="flex justify-evenly my-[1%] items-center">
    <div class="flex items-center select-none">
      <Image
        loading="eager"
        src="/favicon.ico"
        width={36}
        height={36}
        class="w-9 h-auto relative -top-[2px]"
        alt="Di-XIV Brand Icon"
      />
      <span class="regular">❈&nbsp;</span>
      <GetCurrentSmallDate c="regular" client:load />
    </div>
    <TechAck locale={locale} />
  </div>
</footer>
<div id="footer-right"></div>
