---
import ScrollToTopButton from "@/components/navigation/ScrollToTop";
//
interface Props {
  locale: "en" | "ja" | "pt" | "es";
  currentPage: string;
}

const { locale, currentPage } = Astro.props;
---

<main
  id="main"
  class={`grid min-h-full
    ultrawide-only:grid-cols-[1fr_75vw_0.2fr]
    grid-cols-[1fr_70vw_1fr]
    ${
      currentPage === "commissioned-works"
        ? "mobile-only:grid-cols-[1fr_98vw_1fr]"
        : "mobile-only:grid-cols-[1fr_90vw_1fr]"
    }
    py-1`}
>
  <div id="main-left" class="min-h-full min-w-full pointer-events-none"></div>
  <div id="main-center" class="">
    <div class="main rounded-lg py-[2.5%] mobile-only:py-[1%]">
      <slot />
    </div>
  </div>
  <div id="main-right" class="min-h-full min-w-full pointer-events-auto"></div>
</main>

<ScrollToTopButton client:load locale={locale} />
