---
import ScrollToTopButton from "@/components/navigation/ScrollToTop";
import WCIFToasts from "@/components/layout/main/context-props/WCIFToasts.astro";
//
interface Props {
  locale: "en" | "ja" | "pt" | "es";
  currentPage: string;
}

const { locale, currentPage } = Astro.props;
---

{currentPage === "character-references" && <WCIFToasts locale={locale} />}
<main
  id="main"
  class="grid min-h-full
    ultrawide-only:grid-cols-[1fr_55vw_1fr]
    grid-cols-[1fr_70vw_1fr]
    w-1150:grid-cols-[1fr_80vw_1fr]
    mobile-only:grid-cols-[1fr_95vw_1fr]
    py-1"
>
  <div id="main-left"></div>
  <div id="main-center" class="">
    <div class="main rounded-lg py-[2.5%] mobile-only:py-[1%]">
      <slot />
    </div>
  </div>
  <div id="main-right"></div>
</main>

<ScrollToTopButton client:load locale={locale} />
