@font-face {
  font-family: "regular";
  src: url("/fonts/NotoSerifJP-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ultralight";
  src: url("/fonts/NotoSerifJP-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ultrabold";
  src: url("/fonts/NotoSerifJP-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
/*

*/
.regular {
  font-family: "regular", serif;
}
.ultralight {
  font-family: "ultralight", serif;
}
.ultrabold {
  font-family: "ultrabold", serif;
}
