---
import A from "@/components/reusables/SimpleInlineAnchor";
---

<div class="flex justify-center items-center gap-x-1 mobile-only:mt-2">
  <A className="inline-block" h="https://x.com/xiv_di">
    <div class="button-glassbox p-[5px] rounded-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        class="h-9 mobile-only:h-7 w-auto"
        viewBox="0 0 48 48"
      >
        <linearGradient
          id="_osn9zIN2f6RhTsY8WhY4a_5MQ0gPAYYx7a_gr1"
          x1="10.341"
          x2="40.798"
          y1="8.312"
          y2="38.769"
          gradientUnits="userSpaceOnUse"
          ><stop offset="0" stop-color="#2aa4f4"></stop><stop
            offset="1"
            stop-color="#007ad9"></stop></linearGradient
        ><path
          fill="url(#_osn9zIN2f6RhTsY8WhY4a_5MQ0gPAYYx7a_gr1)"
          d="M46.105,11.02c-1.551,0.687-3.219,1.145-4.979,1.362c1.789-1.062,3.166-2.756,3.812-4.758	c-1.674,0.981-3.529,1.702-5.502,2.082C37.86,8.036,35.612,7,33.122,7c-4.783,0-8.661,3.843-8.661,8.582	c0,0.671,0.079,1.324,0.226,1.958c-7.196-0.361-13.579-3.782-17.849-8.974c-0.75,1.269-1.172,2.754-1.172,4.322	c0,2.979,1.525,5.602,3.851,7.147c-1.42-0.043-2.756-0.438-3.926-1.072c0,0.026,0,0.064,0,0.101c0,4.163,2.986,7.63,6.944,8.419	c-0.723,0.198-1.488,0.308-2.276,0.308c-0.559,0-1.104-0.063-1.632-0.158c1.102,3.402,4.299,5.889,8.087,5.963	c-2.964,2.298-6.697,3.674-10.756,3.674c-0.701,0-1.387-0.04-2.065-0.122C7.73,39.577,12.283,41,17.171,41	c15.927,0,24.641-13.079,24.641-24.426c0-0.372-0.012-0.742-0.029-1.108C43.483,14.265,44.948,12.751,46.105,11.02"
        ></path>
      </svg>
    </div>
  </A>
  <A className="inline-block" h="https://tellonym.me/di_xiv">
    <div class="button-glassbox p-[5px] rounded-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        class="h-9 mobile-only:h-7 w-auto"
        viewBox="0 0 48 48"
      >
        <path
          fill="#ff005a"
          d="M9.528,43.334c-0.157,0-0.315-0.037-0.459-0.111c-0.295-0.152-0.495-0.441-0.534-0.771L4.882,11.693	c-0.048-0.406,0.156-0.801,0.515-0.996l8.625-4.7c0.136-0.074,0.288-0.116,0.443-0.121l24.538-0.875	c0.519-0.052,0.962,0.359,1.028,0.873c0.118,0.929,2.89,22.866,2.699,32.348c-0.007,0.339-0.186,0.652-0.475,0.83	c-0.289,0.18-0.648,0.199-0.956,0.052l-3.378-1.608l-2.577,2.737c-0.288,0.305-0.734,0.399-1.122,0.233l-4.115-1.764l-3.081,2.831	c-0.308,0.283-0.759,0.343-1.132,0.154l-3.878-1.981l-3.235,3.152c-0.302,0.295-0.757,0.368-1.137,0.183l-3.861-1.889l-3.775,2.06	C9.857,43.293,9.693,43.334,9.528,43.334z M13.757,39.027c0.15,0,0.3,0.034,0.439,0.102l3.693,1.806l3.245-3.161	c0.306-0.299,0.77-0.369,1.153-0.175l3.898,1.991l3.044-2.798c0.291-0.268,0.709-0.34,1.071-0.183l4.067,1.743l2.597-2.76	c0.298-0.315,0.766-0.405,1.158-0.217l2.613,1.244c-0.093-8.838-2.079-25.527-2.577-29.588L14.771,7.866l-7.824,4.263l3.399,28.619	l2.931-1.599C13.427,39.068,13.592,39.027,13.757,39.027z"
        ></path><path
          fill="#ff005a"
          d="M17.202,42.164l-3.228-30.287l-1.838,6.056c-0.105,0.348-0.39,0.61-0.744,0.688	c-0.355,0.072-0.723-0.043-0.962-0.315l-5.095-5.768l1.499-1.324l3.909,4.425l2.748-9.051c0.138-0.455,0.577-0.766,1.051-0.705	c0.473,0.044,0.85,0.416,0.9,0.889l3.749,35.181L17.202,42.164z"
        ></path><rect
          width="2"
          height="22.463"
          x="11.524"
          y="17.562"
          fill="#ff005a"
          transform="rotate(-6.88 12.527 28.797)"></rect><circle
          cx="34"
          cy="23"
          r="2"
          fill="#ff005a"></circle><circle cx="23" cy="25" r="2" fill="#ff005a"
        ></circle><path
          fill="#ff005a"
          d="M24.746,30.048c-0.31-0.52,0.183-1.145,0.768-0.991c0.805,0.212,2.033,0.419,3.672,0.369	c1.895-0.057,3.516-0.87,4.514-1.515c0.533-0.345,1.226,0.184,1.01,0.78c-0.281,0.774-0.989,1.753-2.64,2.753	c0,0-2.499,1.25-5.575,0C25.564,31.067,25.04,30.541,24.746,30.048z"
        ></path>
      </svg>
    </div>
  </A>
  <A className="inline-block" h="https://aethy.com/@di_xiv"
    ><div class="button-glassbox p-[5px] rounded-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 mobile-only:h-7 w-auto"
        viewBox="0 0 256 274"
        ><path
          fill="#3088d4"
          d="M249.874 164.085c-3.753 19.307-33.613 40.438-67.908 44.533c-17.883 2.134-35.49 4.095-54.266 3.234c-30.705-1.407-54.933-7.33-54.933-7.33c0 2.99.184 5.836.553 8.498c3.992 30.302 30.047 32.118 54.728 32.964c24.912.852 47.094-6.142 47.094-6.142l1.023 22.521s-17.425 9.357-48.465 11.078c-17.116.94-38.369-.43-63.122-6.983c-53.686-14.21-62.92-71.436-64.332-129.502c-.43-17.24-.165-33.497-.165-47.094c0-59.375 38.903-76.779 38.903-76.779C58.6 4.074 92.259.286 127.25 0h.86c34.991.286 68.673 4.074 88.287 13.083c0 0 38.901 17.404 38.901 76.78c0 0 .488 43.807-5.425 74.222"
        ></path><path
          fill="#fff"
          d="M209.413 94.469v71.894H180.93V96.582c0-14.71-6.19-22.176-18.57-22.176c-13.687 0-20.547 8.857-20.547 26.37v38.195h-28.315v-38.195c0-17.513-6.862-26.37-20.55-26.37c-12.379 0-18.568 7.466-18.568 22.176v69.78H45.897V94.47c0-14.694 3.741-26.37 11.256-35.009c7.75-8.638 17.898-13.066 30.496-13.066c14.575 0 25.613 5.602 32.911 16.808l7.095 11.893l7.096-11.893c7.296-11.206 18.334-16.808 32.911-16.808c12.597 0 22.745 4.428 30.496 13.066c7.513 8.639 11.255 20.315 11.255 35.009"
        ></path></svg
      >
    </div></A
  >
  <A className="inline-block" h="https://bsky.app/profile/di-xiv.bsky.social">
    <div class="button-glassbox p-[5px] rounded-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 mobile-only:h-7 w-auto"
        viewBox="0 0 24 24"
        ><path
          fill="#0886fe"
          d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565C.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479c.815 2.736 3.713 3.66 6.383 3.364q.204-.03.415-.056q-.207.033-.415.056c-3.912.58-7.387 2.005-2.83 7.078c5.013 5.19 6.87-1.113 7.823-4.308c.953 3.195 2.05 9.271 7.733 4.308c4.267-4.308 1.172-6.498-2.74-7.078a9 9 0 0 1-.415-.056q.21.026.415.056c2.67.297 5.568-.628 6.383-3.364c.246-.828.624-5.79.624-6.478c0-.69-.139-1.861-.902-2.206c-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8"
        ></path></svg
      >
    </div>
  </A>
</div>
