@media (prefers-color-scheme: light) {
  kbd {
    font-family: monospace;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    border: solid 0.075em #d9d9d9;
    border-radius: 0.2em;
    background-color: #f5f5f5;
    box-shadow: inset 0 0.1em 0.15em #ebebeb;
  }
  details > summary::before {
    color: #181a1b;
  }
}
@media (prefers-color-scheme: dark) {
  kbd {
    font-family: monospace;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    border: solid 0.075em #d9d9d9;
    border-radius: 0.2em;
    background-color: black;
    box-shadow: inset 0 0.1em 0.15em #ebebeb;
  }
  details > summary::before {
    color: #efefef;
  }
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "âˆ";
  display: inline-block;
  margin-right: 0.5em;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  text-decoration: none;
}

details[open] > summary::before {
  transform: rotate(45deg);
  color: #ff781e;
  text-decoration: none;
}
