@media (prefers-color-scheme: light) {
  .shadowless-glassbox {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }
  .glassbox {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .selected-glassbox {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s ease-in-out;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .button-glassbox,
  .toast-glassbox {
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
  }

  .button-glassbox:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s ease-in-out;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .toast-glassbox {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }
}

@media (prefers-color-scheme: dark) {
  .shadowless-glassbox {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }
  .glassbox {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 40px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }
  .selected-glassbox {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.1s ease-in-out;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .button-glassbox,
  .toast-glassbox {
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
  }

  .button-glassbox:hover {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.1s ease-in-out;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }

  .toast-glassbox {
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
  }
}
