---
import ContactButton from "@/components/header/nav-buttons/ContactButton.astro";
import CommWorksButton from "@/components/header/nav-buttons/CommWorks-Button.astro";
import CharRefsButton from "@/components/header/nav-buttons/CharRefs-Button.astro";
import ToUButton from "@/components/header/nav-buttons/ToU-Button.astro";
interface Props {
  currentPage: string;
}
const { currentPage } = Astro.props as Props;
---

{
  currentPage !== "index" && (
    <div
      id="nav-buttons-container"
      class="inline-block"
      slot="header-navbuttons"
    >
      <nav id="nav-buttons-wrapper" class="flex items-center justify-center">
        {currentPage !== "contact" && (
          <ContactButton localizedText="Contact Methods" urlRoute="/contact" />
        )}
        {currentPage !== "commissioned-works" && (
          <CommWorksButton
            localizedText="Commissioned Works"
            urlRoute="/commissioned-works"
          />
        )}
        {currentPage !== "character-references" && (
          <CharRefsButton
            localizedText="Character References"
            urlRoute="/character-references"
          />
        )}
        {currentPage !== "tou" && (
          <ToUButton localizedText="Terms of Use" urlRoute="/tou" />
        )}
      </nav>
    </div>
  )
}
