h1 {
  /* 4.236 = 1.618³ */
  font-size: clamp(2.618rem, 1vw + 2rem, 4.236rem);
}

h2 {
  /* 2.618 = 1.618² */
  font-size: clamp(1.618rem, 1vw + 1rem, 2.618rem);
}

h3 {
  /* 1.618 = 1.618¹ */
  font-size: clamp(1.414rem, 1vw + 0.5rem, 1.618rem);
}

h4 {
  /* 1.414 ≈ 1.618^0.75 */
  font-size: clamp(1.236rem, 1vw + 0.4rem, 1.414rem);
}

p,
ul,
span {
  /* 0.764 ≈ 1^0.75 */ /* 1.236 ≈ 1.618^0.5 */
  font-size: clamp(0.764rem, 1vw + 0.2rem, 1.236rem);
}
