---
import ModSectionWrapper from "@/app/charrefs/wcif/components/ModSectionWrapper.astro";
import ModList from "@/app/charrefs/wcif/components/ModList.astro";
import {
  TitleWithLeadingIcon,
  type Tag,
} from "@/app/charrefs/wcif/components/WCIF";
// Props
interface Props {
  locale: "en" | "ja" | "pt" | "es";
}
interface Option {
  optionTitle: string;
  options: string[];
}
const { locale } = Astro.props;
const localizedSkin = {
  en: "Skin",
  ja: "皮膚",
  es: "Piel",
  pt: "Pele",
};
const skin: Array<{
  href: string;
  title: string;
  tags: Tag[];
  options?: Option[];
}> = [
  {
    href: "https://www.glamourdresser.com/mods/saoirses-freckles",
    title: "Crystia: Saoirse's Freckles",
    tags: [{ type: "ManUpd" }, { type: "Prio", pr: "0" }, { type: "Free" }],
  },
  {
    href: "https://www.xivmodarchive.com/modid/75292",
    title: "Korbo: Better Pubes Framework 🔞",
    tags: [{ type: "Compat" }, { type: "Prio", pr: "1" }, { type: "Free" }],
    options: [
      {
        optionTitle: "Hairstyle (Midlander/Elezen/Miqo'te)",
        options: ["Light Bush Classic"],
      },
    ],
  },
];
---

<div id="skin" class="mb-2">
  <TitleWithLeadingIcon
    imageURL="/icons/content/wcif/leather-svgrepo-com.svg"
    title={localizedSkin[locale]}
  />
  <ModSectionWrapper>
    <ModList items={skin} locale={locale} />
  </ModSectionWrapper>
</div>
