---

---

<div
  class="border-t-2 mobile-only:border-t border-solid border-[rgba(24,26,27,0.5)] select-none
    ultrawide-only:w-[50%] ultrawide-only:ml-[25%]
    w-[75%] ml-[12.5%]
    mobile-only:w-[90%] mobile-only:ml-[5%] dark:border-[rgba(239,239,239,0.5)]"
>
</div>
